.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
    position: sticky;
    margin-top: 50px;
}

.logo {
    margin-top: 100px
}

.logo > h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02px;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 60vw;
    list-style: none;
}

.navbar-list > li:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.navbar-links {
    text-decoration: none;
    color: var(--gray);
    padding: 20px;
}

