@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --primary-color: #29CC6A;
  --secondary-color: #2B2D26;
  --white: #fff;
  --gray: #787A7C;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html, body, h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  font-weight: 700;
  line-height: 19px;
  font-size: 1rem;
}

.btn-small {
  width: 183.7px;
  height: 34.34px;
}

.btn-big {
  width: 218px;
  height: 45.79px;
}

.btn-outline {
  font-weight: 400;
  padding: 10px 30px;
  border: 2px solid var(--white);
}